################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fantasia.Mvc/ScaffoldingReadMe.txt
/Fantasia.Mvc/Fantasia.Mvc.csproj.user
/Fantasia.Mvc/appsettings.json
/Fantasia.Mvc/bin/Debug/net8.0/Fantasia.DataAccess.dll
/Fantasia.Mvc/bin/Debug/net8.0/Fantasia.Mvc.dll
/Fantasia.Mvc/bin/Debug/net8.0/Fantasia.DataAccess.pdb
/Fantasia.Mvc/bin/Debug/net8.0/Fantasia.Mvc.exe
/Fantasia.Mvc/bin/Debug/net8.0/Fantasia.Mvc.pdb
/Fantasia.Mvc/bin/Debug/net8.0/Fantasia.Mvc.staticwebassets.runtime.json
/Fantasia.DataAccess/bin/Debug/net8.0/Fantasia.DataAccess.dll
/Fantasia.DataAccess/bin/Debug/net8.0/Fantasia.DataAccess.pdb
/Fantasia.DataAccess/Migrations/20240604125033_initDb.cs
/Fantasia.DataAccess/Migrations/20240604125033_initDb.Designer.cs
*.cs
/Fantasia.DataAccess/Migrations/ApplicationDbContextModelSnapshot.cs
/Fantasia.DataAccess/obj/Fantasia.DataAccess.csproj.nuget.dgspec.json
/Fantasia.DataAccess/obj/Fantasia.DataAccess.csproj.nuget.g.props
/Fantasia.DataAccess/obj/project.assets.json
/Fantasia.DataAccess/obj/project.nuget.cache
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.AssemblyInfo.cs
*.exe
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.AssemblyInfoInputs.cache
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.csproj.AssemblyReference.cache
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.assets.cache
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.csproj.CoreCompileInputs.cache
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.dll
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.pdb
/Fantasia.DataAccess/obj/Debug/net8.0/Fantasia.DataAccess.sourcelink.json
/Fantasia.DataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Fantasia.DataAccess/obj/Debug/net8.0/refint/Fantasia.DataAccess.dll
/Fantasia.DataAccess/obj/Debug/net8.0/ref/Fantasia.DataAccess.dll
