@model Product
@{
    ViewData["Title"] = "Delete Product";
}

<h3 class="mx-5 mt-5">حذف @Model.Name</h3>
<hr />
<div class="row mx-5 mt-5 mb-5">
    <div class="col-md-6 mt-3">
        <img src="~/images/@Model.ImageUrl" width="100%" height="100%" class="img-thumbnail" />
    </div>
    <div class="col-md-6">
        <form asp-action="DeleteProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3">
                <label class="control-label">ألاسم</label>
                <input readonly asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">السعر</label>
                <input readonly asp-for="Price" class="form-control"></input>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label class="control-label">الصناعة أو الوصف</label>
                <textarea readonly asp-for="Made" class="form-control"></textarea>
                <span asp-validation-for="Made" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label class="control-label">اللون</label>
            <input readonly asp-for="ColoreId" class="form-control" />
            </div>
            <div class="form-group">
            <label class="control-label">القياس</label>
            <input readonly asp-for="SizeId" class="form-control" />
            </div> *@
            <div class="form-group">
                <label class="control-label">القسم</label>
                <input readonly asp-for="CategoryId" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="حذف" class="btn btn-warning" />
                <a class="btn btn-secondary" asp-action="GetProducts">المنتجات</a>
            </div>
        </form>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}