@model Category

@{
    ViewData["Title"] = "Create Category";
}

<h1 class="mx-3">أضافة قسم جديد</h1>

<hr />
<div class="row mx-3 mt-3">
    <div class="col-md-4">
        <form asp-action="CreateCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">

                <label class="control-label">أختر صورة</label>
                <input asp-for="Image" class="form-control" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="أضافة" class="btn btn-primary" />
                <a class="btn btn-secondary mx-3" asp-action="GetCategories">الاقسام</a>
            </div>

        </form>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}