@model Fantasia.Mvc.Models.ViewModel.ProductViewModel.ProductPostViewModel
@{
    ViewData["Title"] = "Edit Product";
}

<h3 class="mx-5 mt-5">تعديل @Model.Name</h3>
<hr />
<div class="row mx-5 mt-5 mb-5">
    <div class="col-md-6 mt-3">
        <img src="~/images/@Model.ImageUrl" width="100%" height="100%" class="img-thumbnail" />
    </div>
    <div class="col-md-6">
        <form asp-action="EditProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3">
                <label class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">السعر</label>
                <input asp-for="Price" class="form-control"></input>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">الصناعة أو الوصف</label>
                <textarea asp-for="Made" class="form-control"></textarea>
                <span asp-validation-for="Made" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <label class="control-label">اللون</label>
                <select asp-for="SelectedColours" asp-items="Model.Colours" class="form-control" multiple>
                    <option></option>
                </select>
            </div>

            <div class="form-group mt-3">
                <label class="control-label">القياس</label>
                <select asp-for="SelectedSizes" asp-items="Model.Sizes" class="form-control" multiple>
                    <option></option>
                </select>
            </div>
            @* <div class="form-group mt-3">
            <label class="control-label">أضافة صورة</label>
            <input asp-for="Image" class="form-control" accept="image/*" />
            <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
            <label class="control-label">اللون</label>
            <select asp-for="ColoreId" class="form-control" asp-items="ViewBag.ColoreId"></select>
            </div>
            <div class="form-group mt-3">
            <label class="control-label">القياس</label>
            <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
            </div> *@


            <div class="form-group mt-3">
                <label class="control-label">القسم</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group mt-3 ">
                <input type="submit" value="تعديل" class="btn btn-primary" />
                <a class="btn btn-secondary mx-3" asp-action="GetProducts">المنتجات</a>
            </div>
        </form>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}