@model Fantasia.DataAccess.Entity.Size
@{
    ViewData["Title"] = "Edit Size";
}

<h3 class="mx-5 mt-5">تعديل @Model.Name</h3>
<hr />
<div class="row mx-5 mt-5 mb-5">

    <div class="col-md-6">
        <form asp-action="EditSize" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3">
                <label class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="تعديل" class="btn btn-warning" />
                <a class="btn btn-secondary" asp-action="GetSizes">القياسات</a>
            </div>
        </form>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}